

.upload-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-upload {
  border: 3px dashed;
  border-radius: 5px;
  display: flex !important;
  align-items: center;

  padding: 10px 50px 10px 30px;
}

.fa-cloud-upload {
  font-size: 40px;
  margin-right: 30px;
}

.mat-dialog-title, .mat-dialog-actions button {
  font-weight: bold !important;
}

.mat-dialog-content {
  position: relative;
}

.col {
  position: relative;
}
