<div class="contract-container" [ngClass]="setClass(contract)">
    <div class="contract-details">
      <p class="contract-name">{{contract.contractName}}</p>
      <p class="expiration-date text-muted">{{formatDate(contract.expirationDate)}}</p>
    </div>
    <div class="contract-files">
      <ng-container *ngIf="hasUploaded; else noFiles">
        <p class="file-name" *ngFor="let file of contract.files">
          {{file.fileName}}
        </p>
      </ng-container>
      <ng-template #noFiles>
        <strong><p class="file-name text-muted">File Name</p></strong>
      </ng-template>
    </div>
    <div class="file-thumbnails">
      <ng-container *ngIf="hasUploaded; else uploadSection">
        <app-document-thumbnail [files]="contract.files" [height]="50" [width]="50"></app-document-thumbnail>
      </ng-container>
      <ng-template #uploadSection>
        <div class="col upload-section">
          <button class="btn btn-upload" (click)="openUploadModal()">
            <i class="fa fa-cloud-upload"></i>
            Click here to upload
          </button>
        </div>
      </ng-template>
    </div>
    <div class="actions" *ngIf="hasUploaded">
      <span class="btn"><i class="fa fa-search"></i></span>
      <span class="btn" (click)="openDeleteModal(contract.contractId)"><i class="fa fa-trash-o"></i></span>
    </div>
</div>
